@model IEnumerable<MovieTicketBooking.Models.MovieInfo>

@{
    ViewData["Title"] = "SearchDate";
}

@foreach (var item in Model)
{
    <td>
        <h2>
            Movies on
            @Html.DisplayFor(modelItem => item.Date)
        </h2>
    </td>
    break;
}
<a asp-action="../">Back to movies</a>

<table class="table">
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    <img src="~/images/@Url.Content(item.Pic)" style="height:200px;width:200px;" />
                </td>
            }
        </tr>
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    @Html.ActionLink(Convert.ToString(item.MovieName), "MovieDetails", "Movie", new { id = item.MovieID })
                </td>

            }
        </tr>
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    @Html.ActionLink("Shows", "MovieShows", "Movie", new { item.MovieID, item.Date })
                </td>
            }
        </tr>
    </tbody>
</table>
